[global]
{% if repository_server|length > 0 %}
repo1-host={{ hostvars[pgbackrest_repo_host].private_ip }}
repo1-host-user={{ pgbackrest_user }}
repo1-cipher-type=aes-256-cbc
repo1-cipher-pass={{ pgbackrest_repo_cipher_pass }}
{% if pgbackrest_repo_type == "multi" %}
repo2-host={{ hostvars[pgbackrest_repo_host].private_ip }}
repo2-host-user={{ pgbackrest_user }}
repo2-cipher-type=aes-256-cbc
repo2-cipher-pass={{ pgbackrest_repo_cipher_pass }}
repo1-path=/repo1
repo2-path=/repo2
{% endif %}
{% elif pgbackrest_repo_type == "s3" %}
repo1-type=s3
repo1-path=/repo1
repo1-s3-endpoint={{ pgbackrest_repo_s3_endpoint }}
repo1-s3-region=eu-west-2
repo1-s3-bucket=bucket
repo1-s3-key=accessKey
repo1-s3-key-secret=superSECRETkey
repo1-s3-uri-style=path
repo1-storage-verify-tls=n
repo1-retention-full={{ pgbackrest_repo_retention_full }}
repo1-cipher-type=aes-256-cbc
repo1-cipher-pass={{ pgbackrest_repo_cipher_pass }}
start-fast=y
{% elif pgbackrest_repo_type == "azure" %}
repo1-type=azure
repo1-path=/repo1
repo1-storage-host={{ pgbackrest_repo_azure_host }}
repo1-azure-account=pgbackrest
repo1-azure-key=aF49wnZP
repo1-azure-container=container
repo1-storage-verify-tls=n
repo1-retention-full={{ pgbackrest_repo_retention_full }}
repo1-cipher-type=aes-256-cbc
repo1-cipher-pass={{ pgbackrest_repo_cipher_pass }}
start-fast=y
{% elif pgbackrest_repo_type == "multi" %}
repo1-type=s3
repo1-path=/repo1
repo1-s3-endpoint={{ pgbackrest_repo_s3_endpoint }}
repo1-s3-region=eu-west-2
repo1-s3-bucket=bucket
repo1-s3-key=accessKey
repo1-s3-key-secret=superSECRETkey
repo1-s3-uri-style=path
repo1-storage-verify-tls=n
repo1-retention-full={{ pgbackrest_repo_retention_full }}
repo1-cipher-type=aes-256-cbc
repo1-cipher-pass={{ pgbackrest_repo_cipher_pass }}
repo2-type=azure
repo2-path=/repo2
repo2-storage-host={{ pgbackrest_repo_azure_host }}
repo2-azure-account=pgbackrest
repo2-azure-key=aF49wnZP
repo2-azure-container=container
repo2-storage-verify-tls=n
repo2-retention-full={{ pgbackrest_repo_retention_full }}
repo2-cipher-type=aes-256-cbc
repo2-cipher-pass={{ pgbackrest_repo_cipher_pass }}
start-fast=y
{% else %}
repo1-type=posix
repo1-path={{ pgbackrest_repo_path }}
repo1-retention-full={{ pgbackrest_repo_retention_full }}
repo1-cipher-type=aes-256-cbc
repo1-cipher-pass={{ pgbackrest_repo_cipher_pass }}
start-fast=y
{% endif %}
log-level-console=info
log-level-file=debug
delta=y
process-max=2
{% if pg_type == 'EPAS' and edb_enable_tde|bool %}
archive-header-check=n
{% if repository_server|length == 0 %}
checksum-page=n
{% endif %}
{% endif %}

[{{ cluster_name }}]
pg1-path={{ pg_data }}
pg1-user={{ postgres_user }}
pg1-port={{ pg_port }}
pg1-socket-path={{ pg_unix_socket_directories[0] }}
{% if pg_type == 'EPAS' and pg_version|int >= 15 %}
pg-version-force={{ pg_version }}
{% endif %}
{% if 'standby' in group_names %}
backup-standby=y
pg2-host={{ upstream_node_private_ip }}
pg2-host-user={{ postgres_user }}
pg2-path={{ pg_data }}
recovery-option=primary_conninfo=host={{ upstream_node_private_ip }} user={{ pg_replication_user }} port={{ pg_port }} application_name={{ inventory_hostname }}
{% endif %}
